*** sample dsm.opt for SafeDC Cloud
*** Copy and Paste Information from Safespring Backup Portal ***

*** Copy and Paste Information from Safespring Backup Portal ***

*** legacy clients may have to use TCPIP
* COMMMETHOD         TCPIP
COMMMETHOD         V6TCPIP
SSL                yes
SSLREQUIRED        yes
PASSWORDACCESS     GENERATE
MANAGEDSERVICES    SCHEDULE
SCHEDLOGRETENTION  28
SCHEDLOGNAME "C:\Program Files\Tivoli\TSM\baclient\dsmsched.log"
ERRORLOGRETENTION  28
ERRORLOGNAME "C:\Program Files\Tivoli\TSM\baclient\dsmerror.log"

SCHEDCMDDISABLED   yes
SCHEDCMDEXCEPTION  "tbmr_license"
SCHEDCMDEXCEPTION  "db_full"
SCHEDCMDEXCEPTION  "db_incr"
SCHEDCMDEXCEPTION  "mail_full"
SCHEDCMDEXCEPTION  "mail_incr"
SCHEDCMDEXCEPTION  "client_maintenance"

SCHEDRESTRETRDISABLED   yes
SRVPREPOSTSCHEDDISABLED yes
SRVPREPOSTSNAPDISABLED  yes

REVOKEREMOTEACCESS Access

DATEFORMAT 3
TESTFLAG disable_tls13