* sample dsm.sys for IPnett cloud

SERVERNAME tsmXX.cloud.ipnett.se
  TCPSERVERADDRESS   tsmXX.cloud.ipnett.se
  NODENAME           myTSMnodename
  COMMMETHOD         V6TCPIP
*  legacy clients may have to use TCPIP
*  COMMMETHOD         TCPIP
  TCPPORT            1600
  SSL                yes
  SSLREQUIRED        yes
  PASSWORDACCESS     GENERATE
  MANAGEDSERVICES    SCHEDULE
  VIRTUALMOUNTPOINT  /dev
  SCHEDLOGRETENTION  28
  ERRORLOGRETENTION  28
  SCHEDCMDDISABLED   yes
  SCHEDCMDEXCEPTION  "tbmr_license"
  SCHEDCMDEXCEPTION  "db_full"
  SCHEDCMDEXCEPTION  "db_incr"
  SCHEDCMDEXCEPTION  "mail_full"
  SCHEDCMDEXCEPTION  "mail_incr"
  SCHEDCMDEXCEPTION  "client_maintenance"

  SCHEDRESTRETRDISABLED   yes
  SRVPREPOSTSCHEDDISABLED yes
  SRVPREPOSTSNAPDISABLED  yes

  REVOKEREMOTEACCESS Access
