* sample dsm.sys for SafeDC

SERVERNAME SafeDC
  *** Copy and Paste Information from Safespring Backup Portal ***
  
  *** Copy and Paste Information from Safespring Backup Portal ***

  COMMMETHOD         V6TCPIP
*  legacy clients may have to use TCPIP
* COMMMETHOD         TCPIP
  SSL                yes
  SSLREQUIRED        yes
  PASSWORDACCESS     GENERATE
  MANAGEDSERVICES    SCHEDULE
  VIRTUALMOUNTPOINT  /dev
  SCHEDLOGRETENTION  28
  SCHEDLOGNAME       /var/log/dsmsched.log
  ERRORLOGRETENTION  28
  ERRORLOGNAME       /var/log/dsmerror.log
  SCHEDCMDDISABLED   yes
  SCHEDCMDEXCEPTION  "tbmr_license"
  SCHEDCMDEXCEPTION  "db_full"
  SCHEDCMDEXCEPTION  "db_incr"
  SCHEDCMDEXCEPTION  "mail_full"
  SCHEDCMDEXCEPTION  "mail_incr"
  SCHEDCMDEXCEPTION  "client_maintenance"

  SCHEDRESTRETRDISABLED   yes
  SRVPREPOSTSCHEDDISABLED yes
  SRVPREPOSTSNAPDISABLED  yes

  REVOKEREMOTEACCESS Access
  TESTFLAG disable_tls13